<configuration>
  <system.runtime.remoting>
    <application name="Server">
      <service>
        <wellknown mode="Singleton" type="AuthUser, Server" objectUri="Auth.rem"/>
      </service>
      <channels>
        <channel ref="tcp" port="9000">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>