*.exe 
*.dll 
BankCripto/.vs/BankCripto/v15/.suo
BankCripto/.vs/ProjectSettings.json
BankCripto/.vs/slnx.sqlite
BankCripto/.vs/VSWorkspaceState.json
BankCripto/BankClient/.vs/BankClient/v15/.suo
BankCripto/BankClient/.vs/BankClient/v15/Server/sqlite3/db.lock
BankCripto/BankClient/.vs/BankClient/v15/Server/sqlite3/storage.ide
BankCripto/BankClient/BankClient.sln
BankCripto/BankClient/BankClient/BankClient.csproj.user
BankCripto/BankClient/BankClient/bin/Debug/BankClient.pdb
BankCripto/BankClient/BankClient/obj/Debug/BankClient.csproj.CopyComplete
BankCripto/BankClient/BankClient/obj/Debug/BankClient.csproj.CoreCompileInputs.cache
BankCripto/BankClient/BankClient/obj/Debug/BankClient.csproj.CoreCompileInputs.cache
BankCripto/BankClient/BankClient/obj/Debug/BankClient.csproj.FileListAbsolute.txt
BankCripto/BankClient/BankClient/obj/Debug/BankClient.csproj.GenerateResource.cache
BankCripto/BankClient/BankClient/obj/Debug/BankClient.csprojResolveAssemblyReference.cache
*.resources
*.pdb
*.cache
BankCripto/BankClient/BankClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BankCripto/BankClient/BankClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BankCripto/BankClient/BankClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TDIN/.vs/TDIN/v15/.suo
*.ide
