<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="AuthenticationObj, Client" url="tcp://localhost:9000/Server/Bank.rem" />
      </client>
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>